prec_noとblock_noのマスタの作成

In [1]:
import pandas as pd
import os

In [2]:
os.listdir()

['.ipynb_checkpoints',
 'chromedriver.exe',
 'create_Proc_Block_Master.ipynb',
 'LocationMaster.csv',
 'LocationMaster.jmp',
 'prec_no__Master.csv',
 'Sample2.ipynb',
 'Sample3.ipynb',
 'smaster.index',
 '気象庁天候データ.msg']

1時間ごとのデータ取得  
https://www.data.jma.go.jp/obd/stats/etrn/view/hourly_s1.php?prec_no=44&block_no=47662&year=2020&month=1&day=1&view=  
  
パラメータ
- prec_no=44　（都道府県）
- block_no=47662　（都市）
- year=2020
- month=1
- day=1
- view=

### prec_noに関して
https://www.jma.go.jp/jma/kishou/know/amedas/ame_master.pdf

こちらは手作業で成型

In [3]:
prec_mst = pd.read_csv('prec_no__Master.csv')
prec_mst.shape

(63, 2)

In [4]:
prec_mst

        府県名  番号
0   宗谷総合振興局  11
1   上川総合振興局  12
2     留萌振興局  13
3     石狩振興局  14
4   空知総合振興局  15
..      ...  ..
58      愛媛県  73
59      高知県  74
60      山口県  81
61      福岡県  82
62      大分県  83

[63 rows x 2 columns]

### block_noに関して
https://www.data.jma.go.jp/obd/stats/data/mdrr/man/kansoku_gaiyou.html  
Download smaster.index

In [5]:
with open('smaster.index', 'r') as f:
    #all_line = f.read()
    lines = f.readlines()
    #print(lines)

len(lines)

2999

In [6]:
lines[2998]

'532 8810732   7 ｼｮｳﾜ    SYOWA       6900300393480  113  217    02016020199999999昭和\u3000\u3000\u3000\u3000昭和基地\u3000\u3000\u3000\u3000\u3000南極\u3000\u3000  184            00110      \n'

In [7]:
line = lines[2]

print("地点番号", line[0:3])
print("管区コード", line[4])
print("アメダス府県コード", line[12:14])
print("観測所区分", line[14])
print("カナ地点名", line[16:24])


print("緯度", line[36:42])
print("経度", line[42:49])

print("漢字地点名", line[80:86])
print("漢字官署名", line[86:94])
print("都道府県振興局名", line[95:99])

地点番号 401
管区コード 1
アメダス府県コード
観測所区分
カナ地点名 ﾜﾂｶﾅｲ
緯度 452490
経度 1414070
漢字地点名
漢字官署名
都道府県振興局名

In [8]:
val_Chiten= []
val_Kanku = []
val_Amedas = []
val_Kasokujyo = []
val_KanaChiku = []
val_Ido = []
val_Keido = []
val_KjChiten =[]
val_KjKansho = []
val_Ken= []

for line in lines:
    val_Chiten.append(line[0:3].strip(' '))
    val_Kanku.append(line[4].strip(' '))
    val_Amedas.append(line[12:14].strip(' '))
    val_Kasokujyo.append(line[14].strip(' '))
    val_KanaChiku.append(line[16:24].strip(' '))
    val_Ido.append(line[36:42].strip(' '))
    val_Keido.append(line[42:49].strip(' '))
    val_KjChiten.append(line[80:86].strip('　'))
    val_KjKansho.append(line[86:94].strip('　'))
    val_Ken.append(line[95:99].strip('　'))

In [9]:
block_mst = pd.DataFrame({"地点番号":val_Chiten, 
                          "管区コード":val_Kanku, 
                          "アメダス府県コード":val_Amedas,
                          "観測所区分":val_Kasokujyo,
                          "カナ地点名":val_KanaChiku,
                          "緯度":val_Ido,
                          "経度":val_Keido,
                          "漢字地点名":val_KjChiten,
                          "漢字官署名":val_KjKansho,
                          "都道府県振興局名":val_Ken})
block_mst.shape

(2999, 10)

In [10]:
block_mst.head()

  地点番号 管区コード アメダス府県コード 観測所区分  カナ地点名      緯度       経度 漢字地点名 漢字官署名 都道府県振興局名
0  401     1                  ﾜﾂｶﾅｲ  452490  1414070
1  401     1                  ﾜﾂｶﾅｲ  452490  1414070
2  401     1                  ﾜﾂｶﾅｲ  452490  1414070
3  401     1                  ﾜﾂｶﾅｲ  452490  1414070
4  401     1                  ﾜﾂｶﾅｲ  452490  1414070

In [11]:
block_mst = block_mst[block_mst["漢字地点名"] != '']
block_mst.shape

(1871, 10)

In [12]:
block_mst = block_mst.drop_duplicates()
block_mst.shape

(338, 10)

In [13]:
block_mst

,地点番号,管区コード,アメダス府県コード,観測所区分,カナ地点名,緯度,経度,漢字地点名,漢字官署名,都道府県振興局名
7,401,1,11,4,ﾜﾂｶﾅｲ,452490,1414070,稚内,稚内地方気象台,宗谷支庁
16,401,1,11,4,ﾜﾂｶﾅｲ,452490,1414070,稚内,稚内地方気象台,宗谷総合
27,402,1,11,5,ｷﾀﾐｴｻｼ,445640,1423510,北見枝幸,北見枝幸測候所,宗谷支庁
34,402,1,11,8,ｷﾀﾐｴｻｼ,445640,1423510,北見枝幸,稚内地方気象台,宗谷支庁
36,402,1,11,8,ｷﾀﾐｴｻｼ,445640,1423510,北見枝幸,稚内地方気象台,宗谷総合
...,...,...,...,...,...,...,...,...,...,...
2955,945,6,92,4,ﾐﾅﾐﾀﾞｲﾄｳ,254970,1311370,南大東島,南大東島地方気象,沖縄県
2966,971,7,44,6,ﾁﾁｼﾞﾏ,270550,1421140,父島,父島気象観測所,東京都
2978,991,7,44,6,ﾐﾅﾐﾄﾘｼﾏ,241820,1535770,南鳥島,南鳥島気象観測所,東京都
2982,991,7,44,6,ﾐﾅﾐﾄﾘｼﾏ,241730,1535900,南鳥島,南鳥島気象観測所,東京都
2989,532,8,,7,ｼｮｳﾜ,690030,0393480,昭和,昭和基地,南極

In [14]:
block_mst['block_no'] = ['47'+str(no) for no in block_mst['地点番号']]

In [27]:
#(block_mst['緯度'].astype(int)/10000).astype(int)

In [24]:
#(block_mst['緯度'].astype(int)/10000)

In [26]:
#(block_mst['緯度'].astype(int)%10000)/6000

In [25]:
#(block_mst['緯度'].astype(int)/10000).astype(int) + (block_mst['緯度'].astype(int)%10000)/6000

In [28]:
#block_mst['latitude'] = block_mst['緯度'].astype(int)/10000
#block_mst['longtitude'] = block_mst['経度'].astype(int)/10000

block_mst['latitude'] = (block_mst['緯度'].astype(int)/10000).astype(int) + (block_mst['緯度'].astype(int)%10000)/6000
block_mst['longtitude'] = (block_mst['経度'].astype(int)/10000).astype(int) + (block_mst['経度'].astype(int)%10000)/6000

In [29]:
block_mst.head()

,地点番号,管区コード,アメダス府県コード,観測所区分,カナ地点名,緯度,経度,漢字地点名,漢字官署名,都道府県振興局名,block_no,latitude,longtitude
7,401,1,11,4,ﾜﾂｶﾅｲ,452490,1414070,稚内,稚内地方気象台,宗谷支庁,47401,45.415,141.678333
16,401,1,11,4,ﾜﾂｶﾅｲ,452490,1414070,稚内,稚内地方気象台,宗谷総合,47401,45.415,141.678333
27,402,1,11,5,ｷﾀﾐｴｻｼ,445640,1423510,北見枝幸,北見枝幸測候所,宗谷支庁,47402,44.940,142.585000
34,402,1,11,8,ｷﾀﾐｴｻｼ,445640,1423510,北見枝幸,稚内地方気象台,宗谷支庁,47402,44.940,142.585000
36,402,1,11,8,ｷﾀﾐｴｻｼ,445640,1423510,北見枝幸,稚内地方気象台,宗谷総合,47402,44.940,142.585000

In [30]:
block_prec_mst = pd.merge(block_mst, prec_mst, left_on='都道府県振興局名', right_on='府県名', how='left')
block_prec_mst.shape

(338, 15)

In [31]:
block_prec_mst.head()

,地点番号,管区コード,アメダス府県コード,観測所区分,カナ地点名,緯度,経度,漢字地点名,漢字官署名,都道府県振興局名,block_no,latitude,longtitude,府県名,番号
0,401,1,11,4,ﾜﾂｶﾅｲ,452490,1414070,稚内,稚内地方気象台,宗谷支庁,47401,45.415,141.678333,NaN,NaN
1,401,1,11,4,ﾜﾂｶﾅｲ,452490,1414070,稚内,稚内地方気象台,宗谷総合,47401,45.415,141.678333,NaN,NaN
2,402,1,11,5,ｷﾀﾐｴｻｼ,445640,1423510,北見枝幸,北見枝幸測候所,宗谷支庁,47402,44.940,142.585000,NaN,NaN
3,402,1,11,8,ｷﾀﾐｴｻｼ,445640,1423510,北見枝幸,稚内地方気象台,宗谷支庁,47402,44.940,142.585000,NaN,NaN
4,402,1,11,8,ｷﾀﾐｴｻｼ,445640,1423510,北見枝幸,稚内地方気象台,宗谷総合,47402,44.940,142.585000,NaN,NaN

In [32]:
block_prec_mst.to_csv('LocationMaster.csv', index=False)