get_weather（ユーザー定義）パッケージ ： 使い方サンプル

## 参考
https://qiita.com/Cyber_Hacnosuke/items/122cec35d299c4d01f10

## 対象サイト
https://www.data.jma.go.jp/obd/stats/etrn/index.php

1時間ごとのデータ取得  
https://www.data.jma.go.jp/obd/stats/etrn/view/hourly_s1.php?prec_no=44&block_no=47662&year=2020&month=1&day=1&view=  
  
パラメータ
- prec_no=44　（都道府県）
- block_no=47662　（都市）
- year=2020
- month=1
- day=1
- view=

#### 注
- chromedriver.exeが同PATH上に必要

In [1]:
import pandas as pd
import numpy as np
import datetime
import calendar

import get_weather.get_weather as gw        # ユーザー定義パッケージ

## 例1

In [14]:
test1 = gw.get_one_location_one_day_weather(point_num=590, prec_no=34, block_no=47590, year=2019, month=12, day=19)
test1.shape

Point:590, 都道府県:34, 都市:47590, Year:2019, Month:12, Day:19

(24, 21)

In [15]:
test1.head()

,現地気圧(hPa),海面気圧(hPa),降水量(mm),気温(℃),露点温度(℃),蒸気圧(hPa),湿度(％),風速(m/s),風向,日照時間(h),...,降雪,積雪,天気,雲量,視程(km),year,month,day,time,point_number
0,1012.8,1018.3,--,4.1,-1.9,5.3,65,4.6,北北東,,...,--,--,,,,2019,12,19,1,590
1,1013.6,1019.1,--,3.9,-2.5,5.1,63,6.6,北北東,,...,--,--,,,,2019,12,19,2,590
2,1014.0,1019.5,--,3.9,-2.7,5.0,62,6.2,北,,...,--,--,,10-,20.0,2019,12,19,3,590
3,1014.3,1019.8,--,3.8,-2.8,5.0,62,6.9,北,,...,--,--,,,,2019,12,19,4,590
4,1014.6,1020.1,--,3.7,-2.9,4.9,62,5.9,北,,...,--,--,,,,2019,12,19,5,590

## 例2

In [18]:
year_month_day = [(2020,1,1),(2020,2,4),(2020,3,18)]

test2 = gw.get_one_location_all_day_weather(point_num=590, prec_no=34, block_no=47590, year_month_day=year_month_day)
test2.shape

Point:590, 都道府県:34, 都市:47590, Year:2020, Month:1, Day:1
Point:590, 都道府県:34, 都市:47590, Year:2020, Month:2, Day:4
Point:590, 都道府県:34, 都市:47590, Year:2020, Month:3, Day:18

(72, 21)

In [19]:
test2.head()

,現地気圧(hPa),海面気圧(hPa),降水量(mm),気温(℃),露点温度(℃),蒸気圧(hPa),湿度(％),風速(m/s),風向,日照時間(h),...,降雪,積雪,天気,雲量,視程(km),year,month,day,time,point_number
0,1011.9,1017.4,--,2.3,-7.3,3.5,49,4.7,西,,...,--,--,,,,2020,1,1,1,590
1,1012.6,1018.1,--,2.3,-6.8,3.7,51,4.2,西北西,,...,--,--,,,,2020,1,1,2,590
2,1013.0,1018.5,--,2.0,-6.1,3.9,55,4.1,北西,,...,--,--,,9,20.0,2020,1,1,3,590
3,1013.4,1018.9,--,2.5,-6.6,3.7,51,3.6,西北西,,...,--,--,,,,2020,1,1,4,590
4,1014.1,1019.6,--,2.2,-6.4,3.8,53,4.2,西北西,,...,--,--,,,,2020,1,1,5,590

## 例3

In [2]:
location_master = pd.read_csv('../LOCATION_MASTER_USEFLG.csv', encoding='sjis')
print(location_master.shape)
location_master = location_master[location_master['use_flg']==1]
print(location_master.shape)
location_master = location_master[['point_number','block_no','number']].drop_duplicates().reset_index()
print(location_master.shape)

(337, 16)
(124, 16)
(72, 4)

In [3]:
location_master.head()

# point_number:観測地点, block_no:都市番号, number:都道府県番号

   index  point_number  block_no  number
0     90           590     47590    34.0
1     93           595     47595    36.0
2     94           597     47597    36.0
3     97           598     47598    36.0
4    107           605     47605    56.0

In [10]:
c = calendar.Calendar(firstweekday=0)
c.monthdayscalendar(2020, 1)

[[0, 0, 1, 2, 3, 4, 5],
 [6, 7, 8, 9, 10, 11, 12],
 [13, 14, 15, 16, 17, 18, 19],
 [20, 21, 22, 23, 24, 25, 26],
 [27, 28, 29, 30, 31, 0, 0]]

In [11]:
def return_y_m_d_tuple_list(y, m):
    days_tmp = list(np.array(c.monthdayscalendar(y, m)).flatten())
    days = [day for day in days_tmp if day!=0]
    return [(y, m, d) for d in days]

In [12]:
day_list = return_y_m_d_tuple_list(2019,12)

for i in return_y_m_d_tuple_list(2020,1):
    day_list.append(i)
for i in return_y_m_d_tuple_list(2020,2):
    day_list.append(i)
for i in return_y_m_d_tuple_list(2020,3):
    day_list.append(i)
for i in return_y_m_d_tuple_list(2020,4):
    day_list.append(i)
len(day_list)

152

In [13]:
day_list_final = day_list[18:145]    # 本番用データ期間
len(day_list_final)

127

In [14]:
day_list_final[:3]

[(2019, 12, 19), (2019, 12, 20), (2019, 12, 21)]

In [15]:
location_master_TEST = location_master.iloc[:3,:]
location_master_TEST

   index  point_number  block_no  number
0     90           590     47590    34.0
1     93           595     47595    36.0
2     94           597     47597    36.0

In [16]:
for row_index in range(location_master_TEST.shape[0]):   # DataFrameの行でループ
    #print(row_index)
    #print(location_master_TEST.iloc[row_index,:])
    
    print(datetime.datetime.now())
    
    point = location_master_TEST['point_number'][row_index]
    prec = location_master_TEST['number'][row_index]
    block = location_master_TEST['block_no'][row_index]
    
    # テスト実施。4日分のみ（day_list_final[:4]）
    dataframe_tmp = gw.get_one_location_all_day_weather(point_num=point, prec_no=prec, block_no=block, year_month_day=day_list_final[:4])
    
    save_file_name = str(point) + '.csv'
    dataframe_tmp.to_csv('../out_sample/'+save_file_name, index=False)

2020-05-02 03:42:12.339118
Point:590, 都道府県:34, 都市:47590, Year:2019, Month:12, Day:19
Point:590, 都道府県:34, 都市:47590, Year:2019, Month:12, Day:20
Point:590, 都道府県:34, 都市:47590, Year:2019, Month:12, Day:21
Point:590, 都道府県:34, 都市:47590, Year:2019, Month:12, Day:22
2020-05-02 03:43:00.423357
Point:595, 都道府県:36, 都市:47595, Year:2019, Month:12, Day:19
Point:595, 都道府県:36, 都市:47595, Year:2019, Month:12, Day:20
Point:595, 都道府県:36, 都市:47595, Year:2019, Month:12, Day:21
Point:595, 都道府県:36, 都市:47595, Year:2019, Month:12, Day:22
2020-05-02 03:43:46.271142
Point:597, 都道府県:36, 都市:47597, Year:2019, Month:12, Day:19
Point:597, 都道府県:36, 都市:47597, Year:2019, Month:12, Day:20
Point:597, 都道府県:36, 都市:47597, Year:2019, Month:12, Day:21
Point:597, 都道府県:36, 都市:47597, Year:2019, Month:12, Day:22